html
  head
    meta
    link(rel="stylesheet", href="/main.css")
  
  body
    #top-bar
      a(href="/")
        img#main-logo(src="/logo-revert.png", alt="HasHaber")
      input#search-bar(type="text", placeholder="Search a new...")
      a#search-bar-search-button(href="") &#x1F50D
      if user && user.isLoggedIn
        a#top-bar-profile-avatar-a(href="/user/profile")
          img#top-bar-profile-avatar(src=user.avatar, alt="Avatar")
      a#dark-light-theme-button(href="") &#x1F315

      #date-clock-div
        span#date-span
        span#clock-span

      script.
        var clockSpan = document.getElementById("clock-span");
        var dateSpan = document.getElementById("date-span")
        date_time()

        function date_time() {
          var date = new Date();
          var day = date.getDate();
          var month = date.getMonth() + 1;
          var year = date.getFullYear()
          var second = date.getSeconds();
          var minute = date.getMinutes();
          var hour = date.getHours();

          dateSpan.textContent =
            ("0" + day).substr(-2) + "-" + ("0" + month).substr(-2) + "-" + year;
          clockSpan.textContent =
            ("0" + hour).substr(-2) + ":" + ("0" + minute).substr(-2) + ":" + ("0" + second).substr(-2);
        }
        setInterval(date_time, 1000);

    .profile-page
      .profile-card
        img#profile-avatar(src=user.avatar alt="profile")       

        span#profile-username-span 
          h2.profile-name #{user.name} #{user.surname} 
          p#profile-edit-name 🖊️

        span#profile-email-span 
          p.profile-email #{user.email}
          p#profile-edit-email 🖊️


      #profile-comments
        h2 Comments
        if comments.length === 0
          p No comments yet. 
        else
          each comment in comments
            a#profile-comment-link(href="http://localhost:3000/news/" + comment.newsId)
              div
                .profile-comment-div
                  p#profile-comment-section-comment-p #{comment.commentText}
                  p#profile-comment-created-at Posted on: #{new Date(comment.createdAt).toLocaleString()} 
  

    script. 
      const nameBox = document.getElementById("profile-name")
      const editName = document.getElementById("profile-edit-name");
      const emailBox = document.getElementById("profile-email")
      const editEmail = document.getElementById("profile-edit-Email");

      editName.addEventListener("")
