html
  head
    meta
    title HasHaber/register
    link(rel="stylesheet", href="/main.css")
  
  body
    #top-bar
      a(href="/")
        img#main-logo(src="/logo-revert.png", alt="HasHaber")
      a#dark-light-theme-button(href="") &#x1F315

      #date-clock-div
        span#date-span
        span#clock-span

      script.
        var clockSpan = document.getElementById("clock-span");
        var dateSpan = document.getElementById("date-span")
        date_time()

        function date_time() {
          var date = new Date();
          var day = date.getDate();
          var month = date.getMonth() + 1;
          var year = date.getFullYear()
          var second = date.getSeconds();
          var minute = date.getMinutes();
          var hour = date.getHours();

          dateSpan.textContent =
            ("0" + day).substr(-2) + "-" + ("0" + month).substr(-2) + "-" + year;
          clockSpan.textContent =
            ("0" + hour).substr(-2) + ":" + ("0" + minute).substr(-2) + ":" + ("0" + second).substr(-2);
        }
        setInterval(date_time, 1000);

    form(action="/api/register", method="post")
      .register-login-upload
        ul
          li
            input#name(
              name="name"
              type="text"
              placeholder="Name"
              required
            )
            input#surname(
              name="surname"
              type="text"
              placeholder="Surname"
              required
            )
            input#email(
              name="email"
              type="email"
              placeholder="E-mail"
              required
            )
            input#password(
              name="password"
              type="password"
              placeholder="Password"
              required
            )
            input#password-again(
              name="passwordAgain"
              type="password"
              placeholder="Password Again"
              required
            )
      .register-login-upload
        input.register-login-upload-button(
          type="submit"
          value="Register"
        )