html(lang="en")
  head
    meta
    title HasHaber/post-news
    link(rel="stylesheet", href="/main.css")
  
  body
    #top-bar
      a(href="/")
        img#main-logo(src="/logo-revert.png", alt="HasHaber")
      input#search-bar(type="text", placeholder="Search a new...")
      a#search-bar-search-button(href="") &#x1F50D
      if user && user.isLoggedIn
        a#top-bar-profile-avatar-a(href="/user/profile")
          img#top-bar-profile-avatar(src=user.avatar, alt="Avatar")
      a#dark-light-theme-button(href="") &#x1F315

      #date-clock-div
        span#date-span
        span#clock-span

      script.
        var clockSpan = document.getElementById("clock-span");
        var dateSpan = document.getElementById("date-span")
        date_time()

        function date_time() {
          var date = new Date();
          var day = date.getDate();
          var month = date.getMonth() + 1;
          var year = date.getFullYear()
          var second = date.getSeconds();
          var minute = date.getMinutes();
          var hour = date.getHours();

          dateSpan.textContent =
            ("0" + day).substr(-2) + "-" + ("0" + month).substr(-2) + "-" + year;
          clockSpan.textContent =
            ("0" + hour).substr(-2) + ":" + ("0" + minute).substr(-2) + ":" + ("0" + second).substr(-2);
        }
        setInterval(date_time, 1000);

    form(action="/api/upload-news", method="post")
      .upload-page-div
        ul
          li.upload-news-page-li
            input#upload-news-page-title(
              name="title"
              type="text"
              placeholder="Title..."
              minlength= "1"
              maxlength= "50"
              required
            )
            textarea#upload-news-page-content(
              name="content"
              placeholder="Content..."
              cols="100"
              rows="20"
              minlength= "1"
              required
            )
            input#upload-news-page-link(
              name="image"
              type="url"
              placeholder="Image URL: 'https://...'"
              size="30"
              pattern="https://.*"
              required
            )

      .register-login-upload
        input.register-login-upload-button(
          type="submit"
          value="Upload"
        )